<a href="https://colab.research.google.com/github/rohee119/bdna/blob/main/%EA%B9%80%EB%A1%9C%ED%9D%AC4%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
a=pd.Series([9,2,5,8])

In [4]:
print(a)

0    9
1    2
2    5
3    8
dtype: int64

In [21]:
a=pd.array(([0,9],[1,2],[2,5],[3,8]),dtype=float)
print(a)

<PandasArray>
[
[0.0, 9.0],
[1.0, 2.0],
[2.0, 5.0],
[3.0, 8.0]
]
Shape: (4, 2), dtype: float64

In [22]:
a[0]

<PandasArray>
[0.0, 9.0]
Length: 2, dtype: float64

In [23]:
a[1]

<PandasArray>
[1.0, 2.0]
Length: 2, dtype: float64

In [24]:
a[2]

<PandasArray>
[2.0, 5.0]
Length: 2, dtype: float64

In [27]:
x=pd.Series([7,2,6,4],index=['A','B','C','D'])
print(x)

A    7
B    2
C    6
D    4
dtype: int64

In [28]:
x['A']

7

In [30]:
x['B']

2

In [31]:
x[['A','C']]

A    7
C    6
dtype: int64

In [32]:
x[['B','C']]

B    2
C    6
dtype: int64

In [33]:
x[['C','D']]

C    6
D    4
dtype: int64

In [34]:
x.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [35]:
x.values

array([7, 2, 6, 4])

In [36]:
print(sorted(x.index))

['A', 'B', 'C', 'D']

In [37]:
print(sorted(x.values))

[2, 4, 6, 7]

In [39]:
x=pd.Series([8,1,2,7],index=['희영','로희','유한','바다'])
x

희영    8
로희    1
유한    2
바다    7
dtype: int64

In [40]:
sorted(x.index)

['로희', '바다', '유한', '희영']

In [41]:
x.reindex(sorted(x.index))

로희    1
바다    7
유한    2
희영    8
dtype: int64

In [42]:
x=pd.Series([8,1,2,7],index=['희영','로희','유한','바다'])
y=pd.Series([5,3,4,9],index=['희영','로희','유한','서영'])

x+y

로희     4.0
바다     NaN
서영     NaN
유한     6.0
희영    13.0
dtype: float64

In [52]:
val=[1,3,2,3,1,9,9]
x=pd.Series(val)
pd.unique(x)

array([1, 3, 2, 9])

In [58]:
age={'로희':23,'은결':16,'바다':40,'서영':18}

In [59]:
pdata=pd.Series(age)

In [60]:
pdata

로희    23
은결    16
바다    40
서영    18
dtype: int64

In [64]:
names=['유한','로희','서영','바다','은결','희영']
pdata=pd.Series(names)
pdata

0    유한
1    로희
2    서영
3    바다
4    은결
5    희영
dtype: object

In [66]:
a=pdata[2:6]
print(a)

2    서영
3    바다
4    은결
5    희영
dtype: object

In [68]:
a=pdata[1:4]
print(a)

1    로희
2    서영
3    바다
dtype: object

In [69]:
data={'age':[23,50,12,35],'name':['로희','바다','서영','은결'],'height':[158.8,170.6,162.1,192.3]}
x=pd.DataFrame(data,columns=['name','age','height'])
x

  name  age  height
0   로희   23   158.8
1   바다   50   170.6
2   서영   12   162.1
3   은결   35   192.3

In [70]:
x.name

0    로희
1    바다
2    서영
3    은결
Name: name, dtype: object

In [71]:
x.age

0    23
1    50
2    12
3    35
Name: age, dtype: int64

In [72]:
x.height

0    158.8
1    170.6
2    162.1
3    192.3
Name: height, dtype: float64

In [73]:
ary=[[1,2],[3,4],[5,6]]
data=pd.DataFrame(ary)
data

   0  1
0  1  2
1  3  4
2  5  6

In [75]:
ary=[[1,2],[3,4],[5,6]]
data=pd.DataFrame(ary,columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6

In [76]:
data.iloc[1]

First     3
Second    4
Name: 1, dtype: int64

In [77]:
data.iloc[2]

First     5
Second    6
Name: 2, dtype: int64

In [78]:
data.iloc[:,1]

0    2
1    4
2    6
Name: Second, dtype: int64

In [79]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10],[11,12],[13,14]]
data=pd.DataFrame(ary,columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10
5     11      12
6     13      14

In [80]:
data.head()

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [81]:
data.head(2)

   First  Second
0      1       2
1      3       4

In [82]:
data.head(4)

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8

In [83]:
data.tail()

   First  Second
2      5       6
3      7       8
4      9      10
5     11      12
6     13      14

In [84]:
data.tail(5)

   First  Second
2      5       6
3      7       8
4      9      10
5     11      12
6     13      14

In [88]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10]]
data=pd.DataFrame(ary,columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [89]:
bools=[False,True,True,False,True]
data[bools]

   First  Second
1      3       4
2      5       6
4      9      10

In [90]:
bools=[False,True,True,False,True]
data.Second[bools]

1     4
2     6
4    10
Name: Second, dtype: int64

In [91]:
data={'age':[23,50,12,35],'name':['로희','바다','서영','은결'],'height':[158.8,170.6,162.1,192.3]}
x=pd.DataFrame(data,columns=['name','age','height'])
x

  name  age  height
0   로희   23   158.8
1   바다   50   170.6
2   서영   12   162.1
3   은결   35   192.3

In [93]:
x.mean(axis=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

age        30.00
height    170.95
dtype: float64

In [94]:
x.mean(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0     90.90
1    110.30
2     87.05
3    113.65
dtype: float64

In [96]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10]]
data=pd.DataFrame(ary,columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [97]:
data['First']=data['First'].astype('float')
data

   First  Second
0    1.0       2
1    3.0       4
2    5.0       6
3    7.0       8
4    9.0      10

In [101]:
dir='도로교통공단_도로교통공단_베트남어 운전면허 용어 해설집_20200407.csv'
accident_data=pd.read_csv(dir,encoding='CP949')

FileNotFoundError: ignored