<a href="https://colab.research.google.com/github/rohee119/bdna/blob/main/%EA%B9%80%EB%A1%9C%ED%9D%AC4%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
a=pd.Series([9,2,5,8])

In [5]:
print(a)

0    9
1    2
2    5
3    8
dtype: int64

In [6]:
a=pd.array(([0,9],[1,2],[2,5],[3,8]),dtype=float)
print(a)

<PandasArray>
[
[0.0, 9.0],
[1.0, 2.0],
[2.0, 5.0],
[3.0, 8.0]
]
Shape: (4, 2), dtype: float64

In [7]:
a[0]

<PandasArray>
[0.0, 9.0]
Length: 2, dtype: float64

In [8]:
a[1]

<PandasArray>
[1.0, 2.0]
Length: 2, dtype: float64

In [9]:
a[2]

<PandasArray>
[2.0, 5.0]
Length: 2, dtype: float64

In [10]:
x=pd.Series([7,2,6,4],index=['A','B','C','D'])
print(x)

A    7
B    2
C    6
D    4
dtype: int64

In [11]:
x['A']

7

In [12]:
x['B']

2

In [13]:
x[['A','C']]

A    7
C    6
dtype: int64

In [14]:
x[['B','C']]

B    2
C    6
dtype: int64

In [15]:
x[['C','D']]

C    6
D    4
dtype: int64

In [16]:
x.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [17]:
x.values

array([7, 2, 6, 4])

In [18]:
print(sorted(x.index))

['A', 'B', 'C', 'D']

In [19]:
print(sorted(x.values))

[2, 4, 6, 7]

In [20]:
x=pd.Series([8,1,2,7],index=['희영','로희','유한','바다'])
x

희영    8
로희    1
유한    2
바다    7
dtype: int64

In [21]:
sorted(x.index)

['로희', '바다', '유한', '희영']

In [22]:
x.reindex(sorted(x.index))

로희    1
바다    7
유한    2
희영    8
dtype: int64

In [23]:
x=pd.Series([8,1,2,7],index=['희영','로희','유한','바다'])
y=pd.Series([5,3,4,9],index=['희영','로희','유한','서영'])

x+y

로희     4.0
바다     NaN
서영     NaN
유한     6.0
희영    13.0
dtype: float64

In [24]:
val=[1,3,2,3,1,9,9]
x=pd.Series(val)
pd.unique(x)

array([1, 3, 2, 9])

In [25]:
age={'로희':23,'은결':16,'바다':40,'서영':18}

In [26]:
pdata=pd.Series(age)

In [27]:
pdata

로희    23
은결    16
바다    40
서영    18
dtype: int64

In [28]:
names=['유한','로희','서영','바다','은결','희영']
pdata=pd.Series(names)
pdata

0    유한
1    로희
2    서영
3    바다
4    은결
5    희영
dtype: object

In [29]:
a=pdata[2:6]
print(a)

2    서영
3    바다
4    은결
5    희영
dtype: object

In [30]:
a=pdata[1:4]
print(a)

1    로희
2    서영
3    바다
dtype: object

In [31]:
data={'age':[23,50,12,35],'name':['로희','바다','서영','은결'],'height':[158.8,170.6,162.1,192.3]}
x=pd.DataFrame(data,columns=['name','age','height'])
x

  name  age  height
0   로희   23   158.8
1   바다   50   170.6
2   서영   12   162.1
3   은결   35   192.3

In [32]:
x.name

0    로희
1    바다
2    서영
3    은결
Name: name, dtype: object

In [33]:
x.age

0    23
1    50
2    12
3    35
Name: age, dtype: int64

In [34]:
x.height

0    158.8
1    170.6
2    162.1
3    192.3
Name: height, dtype: float64

In [35]:
ary=[[1,2],[3,4],[5,6]]
data=pd.DataFrame(ary)
data

   0  1
0  1  2
1  3  4
2  5  6

In [36]:
ary=[[1,2],[3,4],[5,6]]
data=pd.DataFrame(ary,columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6

In [37]:
data.iloc[1]

First     3
Second    4
Name: 1, dtype: int64

In [38]:
data.iloc[2]

First     5
Second    6
Name: 2, dtype: int64

In [39]:
data.iloc[:,1]

0    2
1    4
2    6
Name: Second, dtype: int64

In [40]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10],[11,12],[13,14]]
data=pd.DataFrame(ary,columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10
5     11      12
6     13      14

In [41]:
data.head()

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [42]:
data.head(2)

   First  Second
0      1       2
1      3       4

In [43]:
data.head(4)

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8

In [44]:
data.tail()

   First  Second
2      5       6
3      7       8
4      9      10
5     11      12
6     13      14

In [45]:
data.tail(5)

   First  Second
2      5       6
3      7       8
4      9      10
5     11      12
6     13      14

In [46]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10]]
data=pd.DataFrame(ary,columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [47]:
bools=[False,True,True,False,True]
data[bools]

   First  Second
1      3       4
2      5       6
4      9      10

In [48]:
bools=[False,True,True,False,True]
data.Second[bools]

1     4
2     6
4    10
Name: Second, dtype: int64

In [49]:
data={'age':[23,50,12,35],'name':['로희','바다','서영','은결'],'height':[158.8,170.6,162.1,192.3]}
x=pd.DataFrame(data,columns=['name','age','height'])
x

  name  age  height
0   로희   23   158.8
1   바다   50   170.6
2   서영   12   162.1
3   은결   35   192.3

In [50]:
x.mean(axis=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

age        30.00
height    170.95
dtype: float64

In [51]:
x.mean(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0     90.90
1    110.30
2     87.05
3    113.65
dtype: float64

In [52]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10]]
data=pd.DataFrame(ary,columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [53]:
data['First']=data['First'].astype('float')
data

   First  Second
0    1.0       2
1    3.0       4
2    5.0       6
3    7.0       8
4    9.0      10

In [75]:
dir='/content/1. 병원정보서비스 2022.3.csv'
병원=pd.read_csv(dir,encoding='CP949')
#UTF-8' 코덱을 decoding 하기위해서 CP949사용

In [76]:
병원.head()

,,,,,,,,,,,,,,,,,,,,,,,,,,,01708,37.4114228
JDQ4MTYyMiM4MSMkMSMkMCMkNzIkMzgxOTYxIzIxIyQxIyQ5IyQ4OSQyNjEwMDIjNTEjJDEjJDYjJDgz,오케이라인치과의원,51,치과의원,370000,경북,371000,경산시,진량읍,38487,경상북도 경산시 진량읍 공단로 467 467,053-852-2804,NaN,1998-03-31,1,0,0,0,0,1,0,0,0,0,0,0,0,128.818602,35.873174
JDQ4MTYyMiM1MSMkMSMkMCMkNzIkMzgxNzAyIzIxIyQxIyQ5IyQwMyQzNjEyMjIjNjEjJDEjJDAjJDgz,오케이미소치과의원,51,치과의원,310000,경기,310702,안양동안구,NaN,13940,경기도 안양시 동안구 관평로 305 3층 (관양동),031-422-2882,NaN,2016-09-29,1,0,0,0,0,1,0,0,0,0,0,0,0,126.957684,37.404664
JDQ4MTYyMiM1MSMkMSMkMCMkNzIkNDgxMzUxIzExIyQxIyQzIyQ5MiQyNjE4MzIjNTEjJDEjJDIjJDgz,오케이부부치과의원,51,치과의원,310000,경기,310603,수원팔달구,NaN,16424,경기도 수원시 팔달구 일월로22번길 22-5 (화서동),296-2808,NaN,2003-12-24,1,0,0,0,0,1,0,0,0,0,0,0,0,126.981404,37.285834
JDQ4MTYyMiM3MSMkMSMkMCMkNzIkMzgxOTYxIzUxIyQxIyQ1IyQ4OSQyNjE4MzIjODEjJDEjJDIjJDgz,오케이송치과의원,51,치과의원,360000,전남,360500,여수시,NaN,59655,전라남도 여수시 소라면 죽림중앙로 13-36 대성빌딩 2층,061-692-2828,NaN,2021-01-07,1,0,0,0,0,1,0,0,0,0,0,0,0,127.633882,34.762172
JDQ4MTg4MSM1MSMkMSMkMCMkNzIkMzgxMTkxIzIxIyQxIyQ1IyQ5MiQzNjE0ODEjNTEjJDEjJDYjJDgz,오케이치과의원,51,치과의원,110000,서울,110001,강남구,논현동,6043,"서울특별시 강남구 강남대로 578 4층 407호 (논현동, 성현빌딩)",02-543-4422,NaN,2015-07-02,1,0,0,0,0,1,0,0,0,0,0,0,0,127.020863,37.513382

In [77]:
dir='test.csv'
test=pd.read_csv(dir,encoding='CP949')

In [78]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S